<header class="bckg-primary text-white flex justify-between align-center">
  <a id="logo" class="flex align-center" routerLink="/">
    <img src="assets/images/logos/logo_128.png" alt="logo_accent">
    <span>Emino</span>
  </a>
  <nav id="header__nav">
    <ul class="flex justify-between">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Accueil</a></li>
      <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">À propos</a></li>
      <li><a routerLink="/works" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Portfolio</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Me contacter</a></li>
    </ul>
  </nav>
  <div id="header__burger">
    <app-burger-menu></app-burger-menu>
  </div>
</header>
