@import '/src/sass/variables.scss';

#burger__wrapper {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

#burger {
  width: 40px;
  height: 40px;
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  position: relative;
}

#burger span,
#burger span::before,
#burger span::after {
  width: 20px;
  height: 2px;
  background-color: #fff;

}

#burger span::before,
#burger span::after {
  content: '';
  display: block;
  position: absolute;
  transition: transform .2s ease-in-out;
}

#burger span::before {
  top: 8px;
}

#burger span::after {
  bottom: 8px;
}

#burger span {
  transform: rotate(-45deg);
}

#burger.active span {
  visibility: hidden;
}

#burger.active span::before,
#burger.active span::after {
  visibility: visible;
}

#burger.active span::before {
  transform: rotate(-45deg);
  transform-origin: center;
  top: 0;
}

#burger.active span::after {
  transform: rotate(45deg);
  transform-origin: center;
  bottom: 0;
}
