@import '/src/sass/variables.scss';
@import '/src/sass/mixins.scss';

#contact__container {
  height: calc(100vh - 8rem);
  padding: 0 5rem;
}

#contact__bubble--wrapper, #contact__form--wrapper {
  flex-basis: 50%;
}

#contact__bubble--wrapper {
  margin-right: 4rem;
}

#contact__bubble {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#contact__bubble:after {
  content: "";
  position: absolute;
  border-top: 3rem solid white;
  border-left: 6.5rem solid transparent;
  bottom: -3rem;
  left: 7rem;
}
#linkedin-link {
  background-color: #0A66C2;
  font-weight: 600;
  padding: .2rem .5rem;
  border-radius: .2rem;
}

#contact__img {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 3.5rem;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  border: .3rem solid $primary;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
  border: .3rem solid $accent;
}

input:hover, textarea:hover {
  // effect to decide
}

button {
  @include button ($accent, $primary, 100%);
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {

  label, input, textarea, button {
    font-size: 1.4rem;
  }

  #contact__container {
    height: auto;
  }

  #contact__content {
    flex-direction: column;
    padding: 2rem 0 5rem 0;
  }

  #contact__bubble--wrapper {
    margin: 0;
  }

  #contact__bubble:after {
    left: 9rem;
  }

  #contact__img {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {

  label, input, textarea, button {
    font-size: 1.2rem;
  }
  input, textarea {
    padding: .5rem;
    margin: .5rem 0 1rem 0;
  }

  #contact__container {
    padding: 0 3rem;
  }

  #contact__content {
    padding: 1rem 0 3rem 0;
  }

  #contact__bubble {
    padding: 1rem;
  }

  #contact__bubble:after {
    bottom: -2rem;
    left: 4rem;
  }
}
