<div id="contact__container" class="bckg-primary">
  <h1 class="text-white">Me contacter</h1>
  <div id="contact__content" class="flex justify-center">
    <div id="contact__bubble--wrapper" class="flex flex-column justify-around">
      <div id="contact__bubble" class="bckg-white">
        <p>Si vous avez des questions, ou si vous cherchez un alternant et que mon profil vous intéresse,
          n'hésitez pas à me contacter avec ce formulaire ou sur
          <a href="https://www.linkedin.com/in/emilie-nogaro-devwebjs19/" target="blank" id="linkedin-link" class="text-white">Linkedin</a>
        </p>
      </div>
      <img src="../../../../assets/images/geisha.png" alt="icon-geisha" id="contact__img">
    </div>
    <div id="contact__form--wrapper">
      <form [formGroup]="contactForm" class="text-white flex flex-column">
        <label for="name">Votre nom</label>
        <input id="name" type="text" formControlName="name" placeholder="Entrez votre nom">
        <label for="email">Votre email</label>
        <input id="email" type="email" formControlName="email" placeholder="Entrez votre email">
        <label for="subject">Objet de votre message</label>
        <input id="subject" type="subject" formControlName="subject" placeholder="Entrez l'objet de votre message">
        <label for="message">Votre message</label>
        <textarea id="message" formControlName="message" placeholder="Entrez votre message"></textarea>
        <button type="submit">Envoyer votre message</button>
      </form>
    </div>
  </div>
</div>
