@import '/src/sass/variables.scss';
@import '/src/sass/mixins.scss';

h2 {
  @include h2-style;
}

#about__grid {
  background-color: $primary;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));
}

.box {
  padding: 2.5rem 2rem;
  text-align: center;
  img {
    width: 5rem;
    cursor: pointer;
  }
}
.box:nth-child(2n + 1) {
  background-color: $secondary;
}

dialog {
  // border: none;
  background-color: $secondary;
  width: 90vw;
  border: 1rem solid $accent;
  border-radius: 5px;
  top: 25rem;
}

#dialog__wrapper {
  padding: 4rem;
  display: flex;
  width: auto;
  border-radius: .5rem;

}

#img__wrapper {
  background-color: #fff;
  // padding: 2rem;
  border-radius: 50%;
  @include whratio(20vw);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


#dialog__img {
  width: 10vw;
}

#dialog__close {
  position: absolute;
  right: 1rem;
  width: 4rem;
  top: 1rem;
}

#dialog__text {
  padding: 2rem;

  h4 {
      font-size: 5rem;
      color: #fff;
    }
}

p {
  color: #fff;
}


@media screen and (max-width: 1024px) {

  #about__grid {
    grid-template-columns: repeat(4, calc(100% / 4));
  }

  .box {
    padding: 2rem;

    img {
      width: 4rem;
    }
  }

  .box:nth-child(2n + 1) {
    background-color: $primary;
  }

  .box:nth-child(8n + 1), .box:nth-child(8n + 3), .box:nth-child(8n + 6),
  .box:nth-child(8n + 8) {
    background-color: $secondary;
  }

  dialog {
    top: 35.5rem;
  }


  #dialog__wrapper {
    flex-direction: column;
    align-items: center;
  }

  // #img__wrapper {
  //   flex-direction: row;
  // }
}


@media screen and (max-width: 768px) {

  #about__grid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(8, auto);
  }

  .box {
    padding: 2rem;

    img {
      width: 3rem;
    }
  }

  .box:nth-child(8n + 1),
  .box:nth-child(8n + 3),
  .box:nth-child(8n + 6),
  .box:nth-child(8n + 8) {
    background-color: $primary;
  }

  .box:nth-child(4n + 1), .box:nth-child(4n + 4) {
    background-color: $secondary;
  }

  dialog {
    top: 28.3rem;
  }

}
