@import '/src/sass/variables.scss';
@import '/src/sass/mixins.scss';

h1 {
  text-align: left;
}

button {
  @include button($accent, $primary, 45%);
  margin-right: 3rem;
}

#home__container {
  width: 100%;
}

#home__text, #home__image {
  width: 50%;
  height: 100%;
}

#home__text {
  padding: 0 5rem;
}

#home__buttons--wrapper {
  margin-top: 3rem;
}

#home__image {
  background-color: $secondary;
  background-image: url(https://images.pexels.com/photos/2179424/pexels-photo-2179424.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {

  #home__container {
    flex-direction: column;
  }

  #home__container, #home__buttons--wrapper {
    flex-wrap: wrap;
  }
  #home__text, #home__image {
    width: 100%;
    height: 50%;
  }

}

@media screen and (max-width: 768px) {

  #home__container, #home__buttons--wrapper {
    flex-wrap: wrap;
  }

  button, #home__text, #home__image {
    width: 100%;
  }

  button {
    padding: .5rem 0;
    margin-right: 0;
  }

  #home__text {
    padding: 0 3rem;
  }

  #home__text {
    padding-top: 2rem;
    height: fit-content;
  }

  #home__buttons--wrapper, #home__buttons--wrapper button {
    margin-bottom: 2rem;
  }

}
