<div id="home__container" class="page__fullheight flex bckg-primary">
  <div id="home__text" class="flex-center text-white">
    <div>
      <p>Bonjour, je suis</p>
      <h1 class="text-accent">Emilie Nogaro<br>Développeuse Frontend</h1>
      <p>Passionnée par l'UX Design. Quisque fringilla turpis a metus elementum tristique. Fusce non sagittis nunc. Quisque nec quam
        a libero rhoncus congue. Morbi lorem augue, porttitor at auctor eget, volutpat ac dolor.</p>
      <div id="home__buttons--wrapper" class="flex">
        <button routerLink="/contact">Me Contacter</button>
        <button (click)="openResumePdf()">Voir mon CV</button>
      </div>
    </div>
  </div>
  <div id="home__image">
  </div>
</div>
